#company_name {
    font-size: 24px;
    margin-left: 13px;
    font-family: Arial, Helvetica, sans-serif; 
}

.navbar {
    background-color: rgb(41, 31, 86);
}

body {
    background-color:rgb(199, 207, 228) ;
}

#intro_container { 
    background-color:rgb(41, 31, 86);
    box-shadow: 4px 10px rgba(41, 31, 86, 0.244);
    border-radius: 6px;
    margin-top: 10px;
    color: white;
    padding: 8px;
    text-align: center;
    margin-top: 50px;
}

.intro_text {
    margin-left: 20px;
    margin-right: 20px;
}

h1, h2 {
    margin: 15px;
    margin-bottom: 35px;
}

#product_section {
    background-color:rgb(41, 31, 86);
    box-shadow: 4px 10px rgba(41, 31, 86, 0.244);
    border-radius: 6px;
    margin-top: 10px;
    color: white;
    padding: 8px;
    text-align: center;
}

.card {
    margin: 10px;
    border: 3px solid rgb(10, 8, 21);
}
.add-to-cart-button:hover {
    transform: scale(1.15);
}

.continue {
    margin: 20px;
}

.continue_button{
    border: 2px solid rgb(10, 8, 21);
}
.continue_button:hover {
    transform: scale(1.15);

}

.footer {
    background-color:rgb(41, 31, 86);
}

#cart_section {
    background-color:rgb(41, 31, 86);
    box-shadow: 4px 10px rgba(41, 31, 86, 0.244);
    border-radius: 6px;
    margin-top: 10px;
    color: white;
    padding: 8px;
    text-align: center;
}

.back_to_shopping {
    margin: 30px;
}

.back_to_shopping:hover {
    transform: scale(1.15);
}

#to_checkout {
    margin: 30px;
}

#to_checkout:hover {
    transform: scale(1.15);
}

.cloned {
    background-color: rgb(191, 209, 252);
}

.cloned .card-body {
    display: flex;
}

.cloned .card-title {
    padding-left: 20px;
    padding-right: 20px;
}

.cloned .card-text {
    padding-left: 30px;
    padding-right: 30px;
}

.remove_button {
    height: 40px;
    width: 80px;
    margin: 0px;
    padding: 0px;

}

.cloned img {
    width: 60px;
    height: 60px;
}

.confirmation .shopping_cart_text {
    color: black;
}

#checkout_section {
    background-color:rgb(41, 31, 86);
    box-shadow: 4px 10px rgba(41, 31, 86, 0.244);
    border-radius: 6px;
    margin-top: 10px;
    color: white;
    padding: 8px;
}

#confirmation_section {
    background-color:rgb(41, 31, 86);
    box-shadow: 4px 10px rgba(41, 31, 86, 0.244);
    border-radius: 6px;
    margin-top: 10px;
    color: white;
    padding: 8px;
    text-align: center;
}

.confirmation .shopping_cart_text {
    font-size: 20px;
    color: white;
}

.confirmation button {
    background-color: black;
}

.confirmation .cloned {
    background-color: rgb(234, 239, 252);
    border: none;
}

